<div class="summary-card-size">
  <mat-card>
      <mat-card-header>
        <img src="../../../../../assets/img/logo/R.png">
        <mat-card-title> {{ summary.label }} &nbsp; &nbsp; </mat-card-title>
        <mat-card-title>S$ {{ summary.amount }}</mat-card-title>
        <!-- <mat-card-title> YOU OWE &nbsp; &nbsp; </mat-card-title>
        <mat-card-title>S$ 45.20 </mat-card-title> -->
      </mat-card-header>
      <mat-card-content>
          {{ summary.content }}
      </mat-card-content>
  </mat-card>
</div>