.input {
    width: 100%;
    margin-top: 8px;
}

.cred-invalid {
    color: brown;
}

.title-text {
    display: inline-block;
    width: 91%;
    font-family: inherit;
}

.input-style {
    width: 100%;
    border-style: none;
    background-color: #efefef;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.area-style {
    padding: 12px 30px;
    margin: 0px;
}

.ok-btn {
    background-color: #44ab29;
    border-radius: 8px;
    border-width: 0px;
}

.ok-btn:not(.disabled):active {
    background-color: #136b79;
    color: #eee;
}

.ok-btn:focus, .ok-btn:active {
    background-color: #115c68;
    outline: none !important;
    box-shadow: none !important;
}

.ok-btn:hover {
    background-color: #115c68;
}

.user-cred-invalid {
    color: brown;
}

.footer {
    text-align: center;
    display: block;
    margin-bottom: 0px;
}

.contact-form {
    text-decoration: underline;
    background: #50505a;
    padding: 4px 10px 4px 10px;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 20px
}