<app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner>

<div class="container">
    <!-- Title -->
    <h2> About CashTrack </h2>

    <hr>

    <p>CashTrack provides an integrated platform solution that enables users to collectively record, analyse and settle their monetary transactions between each other. The primary features of this application are as follows:</p>

    <br>

    <!-- List of Features -->
    <ul>
        <li>
            <b>Personal Expense Tracking</b>
            <p>The application allows tracking of an individual’s expenditure, more specifically how much they owe and are owed by other people, as well as their own expenditure such as food, travel, etc. Users are able to add personal expense records by
                navigating to the ‘Personal Expenses’ page. They can categorise these personal expense records by using category ‘tags’, and may also choose to use the optional feature of currency conversion. These records are then used for data analytics
                and to manage the expenditure under the spending limit set by the user on the ‘Settings’ page.
            </p>
            <br>
        </li>
        <li>
            <b>Shared Expense Tracking</b>
            <p>As users expand their social circle, frequent get-togethers are quite likely, in these scenarios, splitting the bill can be quite cumbersome for many. The application must therefore allow the tracking of a group bill actively monitoring and
                notifying the parties involved. Users are able to add expenses with their friends and family in which they paid for everybody’s bill or lent them some money. Users adding the record can choose the category of the record by selecting a
                category ‘tag’, use the automatic split by ratio/percentage/shares option, and also choose to add some comments for everyone to see. These expenses can be added from ‘Share Expenses’ if the user only paid one person, or they can also choose
                to create a group by navigating to the ‘Your Groups’ page where they can create a group like ‘Tennis Club’ or ‘ASE Group’ and add a shared expense record with the members of the group. The expense record shows up on the ‘Dashboard’ of
                every party involved, with the option to all the people who borrowed money to view all the details of the expense and settle up by pressing the ‘Acknowledge’ button. Once the original author confirms that they have received the money from
                the payer, the record is indicated as ‘settled up’ and closed. This ensures that the author (original payer) of the bill will get back his owed amount.
            </p>
            <br>
        </li>
        <li>
            <b>Data Analytics</b>
            <p>The application performs a comprehensive analysis of users’ expense data over time or by categories. This aims to reveal any underlying spending patterns or interesting insights into user payment trends. The user can view these insights by
                navigating to the “Dashboard” page, which will convey the data through the following visualizations: Pie Chart This data visualisation aims to convey the user spending categories (Food, Travel, Shopping, Entertainment, Others) by percentages,
                based solely on the personal expense records of the user. Line Chart (Personal Expenses) This data visualisation shows the quantitative spending trend of the user with respect to their set personal expense limit, in the form of a line
                chart. This helps them easily realise the magnitude of their expenses over a specified time frame. Line Chart (Shared Expenses) This data visualisation represents the transactory relationship between the user and their friend, by showcasing
                the magnitude of inflow or outflow of funds for their shared expenses over a specified time frame. This is achieved through a line chart, wherein X-axis denotes no outstanding expenses between the two parties. Therefore, data points above
                the X-axis denote the amount owed to the user, while data points below Y-axis denote the amount the user owed to his/her friend.
            </p>
            <br>
        </li>
        <li>
            <b>Chat</b>
            <p>CashTrack also implements an integrated chat feature to facilitate inter-user communication through the application itself. This chat feature not only facilitates user interaction regarding expenses, but also encourages increased engagement
                with the application platform. From a business perspective too, a higher user engagement with the product is a very desirable outcome.
            </p>
            <br>
        </li>
    </ul>

</div>