* {
    font-family: helvetica !important;
}

::ng-deep .mat-icon {
    font-family: 'Material Icons' !important;
}

.input {
    width: 100%;
}

/* ::ng-deep .mat-form-field-label {
    color: #6c716d !important;
} */

/* .forget-cred-invalid {
    color: brown;
} */

.ok-btn {
    background-color: #17a2b8;
    margin-bottom: 30px;
    border-width: 0px;
}

.ok-btn:not(.disabled):active {
    background-color: #136b79;
    color: #eee;
}

.ok-btn:focus, .ok-btn:active {
    background-color: #115c68;
    outline: none !important;
    box-shadow: none !important;
}

.ok-btn:hover {
    background-color: #115c68;
}

.cred-invalid {
    color: brown;
}

.footer {
    text-align: center;
    display: block;
    margin-bottom: 0px;
}