<div>
  <notifier-container></notifier-container>
  <h1 mat-dialog-title>Update Password</h1>

  <form [formGroup]="updatePwdForm" (ngSubmit)="save_password()">
    <div mat-dialog-content style="padding-top: 10px">
      <mat-form-field class="input">
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="password" [type]="hide_current ? 'password' : 'text'" />
        <br />
        <mat-icon matSuffix class="mat-icons" (click)="hide_current = !hide_current">
          {{ hide_current ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="new_password" [type]="hide_new ? 'password' : 'text'" />
        <br />
        <mat-icon matSuffix class="mat-icons" (click)="hide_new = !hide_new">
          {{ hide_new ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="new_confirm_pwd" [type]="hide_confirm ? 'password' : 'text'" />
        <br />
        <mat-icon matSuffix class="mat-icons" (click)="hide_confirm = !hide_confirm">
          {{ hide_confirm ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>

    </div>

    <div *ngIf="errorMsg != ''" class="cred-invalid">
      {{ errorMsg }}
    </div>

    <div class="footer" mat-dialog-actions>
      <button class="btn btn-primary ok-btn" type='submit'>Ok</button>
    </div>

  </form>
</div>