<h1 mat-dialog-title>Input Shared Expense</h1>
<div mat-dialog-content>
  <!-- Label -->
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <br>
  <!-- Category -->
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(value)]="data.category">
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat}}
      </mat-option>
    </mat-select>    
  </mat-form-field>
  <br>
  <!-- Amount -->
  <mat-form-field>
   <mat-label>S$ Amount</mat-label>
    <input matInput [(ngModel)]="data.amount">
  </mat-form-field>
  <br>
    <!-- Select Friends -->
  <mat-form-field>
    <mat-label>Select Friend(s) or Group</mat-label>
    <mat-select [(value)]="data.friend_list" multiple>
      <mat-option *ngFor="let f of your_friends" [value]="f">{{f}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- Choose Pay Option -->
  <!--  *ngIf="data.friend_list.length == 1" -->
  <mat-form-field> 
    <mat-label>Choose pay option</mat-label>
    <mat-select [(value)]="data.split_or_not">
      <mat-option *ngFor="let pay of pay_options" [value]="pay">
        {{pay}}
      </mat-option>
    </mat-select>    
  </mat-form-field>
  <!-- Split by-->
  <div *ngIf="data.split_or_not === 'Split Bill'">
    <div mat-dialog-actions>
      <button mat-button class="split-button" (click)="SplitByPopUp()"> SPLIT-BY > </button>
    </div>  
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> CANCEL </button>
  <button mat-button (click)="addExpense()" cdkFocusInitial> ADD </button>
  <!-- <button mat-button (click)="addExpense()" cdkFocusInitial> UPDATE </button> -->
</div>