<div class="ui container"> 
    <div class="row">
        <div class="column1" style="padding: 20px;">
            <h1> <b> PERSONAL EXPENSES </b> </h1>
        </div>
        <div class="column2" style="padding: 20px; align-items: flex-end;">
            <button mat-button class="button-style" (click)="addNewExpense()"> 
                <h5> <mat-icon>add</mat-icon> Expense </h5>
                <!-- <div class="column"></div> -->
            </button>
        </div>
    </div>
    <app-expense-list (onEdit)="addNewExpense($event)"></app-expense-list>
</div>