<div class="card-size">
    <mat-card>
        <div *ngIf="expense.type=='1'" class='border-red'>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="../../../../../assets/cashtrack-assets/icon-bill.png"> &nbsp; &nbsp;
                </div>
                <mat-card-title> {{ expense.name }} &nbsp; &nbsp; <span class="tag"> {{ expense.category.toUpperCase() }} </span></mat-card-title>
                <mat-card-subtitle style="padding:4px;">{{ expense.created_at }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style='font-size: 17px;'>
                <span style="font-weight: 600;"> You owe {{ getName(expense.author) }} S$ {{ expense.amount }}  </span>
            </mat-card-content>
            <mat-card-actions>
                <button class="button-style" mat-button style="float:right">SETTLE UP</button>
                <button class="button-style" mat-button (click)="showComments()" style="float:right">COMMENTS</button>
            </mat-card-actions>
        </div>
        <div *ngIf="expense.type=='2'" class='border-green'>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="../../../../../assets/cashtrack-assets/icon-bill.png"> &nbsp; &nbsp;
                </div>
                <mat-card-title> {{ expense.name }} &nbsp; &nbsp; <span class="tag"> {{ expense.category.toUpperCase() }} </span>  <button (onclick)="editExpense()" class="edit-button" mat-button style="float:right"><mat-icon [ngStyle]="{'color':'white'}"> edit </mat-icon></button> </mat-card-title>
                <mat-card-subtitle style="padding:4px;">{{ expense.created_at }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style='font-size: 17px;' *ngFor="let payer of expense.payers; index as i">
                <span style="font-weight: 600;"> {{ getName(expense.payers) }} owes you S$ {{ expense.amount }} </span>
            </mat-card-content>
            <mat-card-actions>
                <button class="button-style" mat-button style="float:right">SETTLE UP</button>
                <button class="button-style" mat-button (click)="showComments()" style="float:right">COMMENTS</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>