<app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner>

<div class="container">

    <!-- Title -->
    <h2>Frequently Asked Questions (FAQs)</h2>

    <!-- Question 1 -->
    <h6>> What is CashTrack?</h6>
    <p>CashTrack provides an integrated platform solution that enables users to collectively record, analyse and settle their monetary transactions between each other</p>
    <br>

    <!-- Question 2 -->
    <h6> > Does CashTrack have integrated payment solutions?</h6>
    <p>No, CashTrack currently does not have any integrated payment solutions or ongoing partnerships with any payments vendors. All transactions must be conducted via third party vendors.</p>
    <br>

    <!-- Question 3 -->
    <h6>> How is my data protected? </h6>
    <p>When possible, encryption is used, both in transit and storage. Access controls within the organisation limit who may access information.</p>

</div>