<app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner>

<div class="container">

    <!-- Title -->
    <h1> <b>Frequently Asked Questions (FAQs)</b></h1>

    <hr>

    <!-- Question 1 -->
    <p> <b>> What is CashTrack?</b></p>
    <p>CashTrack provides an integrated platform solution that enables users to collectively record, analyse and settle their monetary transactions between each other</p>
    <br>

    <!-- Question 2 -->
    <p> <b>> Does CashTrack have integrated payment solutions?</b></p>
    <p>No, CashTrack currently does not have any integrated payment solutions or ongoing partnerships with any payments vendors. All transactions must be conducted via third party vendors.</p>
    <br>

    <!-- Question 3 -->
    <p> <b>> How is my data protected? </b></p>
    <p>When possible, encryption is used, both in transit and storage. Access controls within the organisation limit who may access information.</p>

</div>