<div class="ui container"> 
    <div class="row">
        <div class="column1">
            <h1 style="padding: 20px;"> SHARED EXPENSE  </h1>
        </div>
        <div class="column2" style="padding: 20px; align-items: flex-end;">
            <button mat-button class="button-style" (click)="addNewExpense()"> 
                <h5> <mat-icon>add</mat-icon> Expense </h5>
            </button>
        </div>
    </div>
    <app-summary-row-list></app-summary-row-list>
    <app-expense-list></app-expense-list>
</div>