<div class="container">
    <div class="row">
        <div class="column1">
            <h1 style="padding: 20px;">
                <b>SHARED EXPENSE</b>
            </h1>
        </div>
        <div class="column2" style="padding: 20px; align-items: flex-end;">
            <button mat-button class="button-style" (click)="addNewExpense()"> 
                <p style="margin: 0px;"> + Expense </p>
            </button>
        </div>
    </div>
    <app-summary-row-list [you_are_owed]="total_you_are_owed" [you_owe]="total_you_owe"></app-summary-row-list>
    <br>
    <br>
    <app-expense-list [expenses]="shared_expenses"></app-expense-list>
</div>