<div class="position-rel">
  <h1 mat-dialog-title class="title-text"> Download CSV File </h1>
  <button mat-icon-button tabindex="-1" (click)="funCloseDialog()">
    <mat-icon>close</mat-icon>
  </button>

  <div class="selection-button">

    <!-- <div class="text-center date-selection-form"> -->
    <span class="date-label"><strong> From: </strong></span>

    <mat-form-field class="form-size date-selection">
      <input class="text-holder-input" matInput [max]="maxStartDate" [matDatepicker]="picker" disabled
        [(ngModel)]="startDate" (dateChange)="funDateSelected()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <!-- </div> -->

    <!-- <div class="text-center date-selection-form"> -->
    <span class="to-label date-label"><strong> To: </strong></span>

    <mat-form-field class="form-size date-selection">
      <input class="text-holder-input" matInput [min]="minEndDate" [max]="maxEndDate" [matDatepicker]="picker1" disabled
        [(ngModel)]="endDate" (dateChange)="funDateSelected()">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <!-- </div> -->

  </div>

  <div class="selection-button">
    <mat-form-field>
      <mat-select [(ngModel)]="resolution" (selectionChange)="resolutionSelected()" placeholder="Resolution">
        <mat-option *ngFor="let resolution of resolutionList" [value]="resolution.key">
          {{ resolution.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="btn btn-info btn-effect download-csv" [disabled]="enableButton"
      [disabled]="funAllowElementAccess('downloadCsv', 'disable')" (click)="funGetCsvFile()">
      <i class="fa fa-download"></i>
      CSV
    </button>
  </div>

  <div class="note">
    <table class="note-table">
      <thead>
        <tr>
          <th colspan="2"> Resolution Interpretation </th>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th> Day </th>
          <td> Aggregated data in 1 day intervals, up to 1 month</td>
        </tr>
        <tr>
          <th> Month </th>
          <td> Aggregated data in 1 month intervals, up to 1 year</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isResolutionSelected" class="cred-invalid">
    Please Select Resolution
  </div>

  <div *ngIf="!isDataAvailable" class="cred-invalid">
    <em> No data found </em>
  </div>

  <app-loading-component *ngIf="showLoadingSpinner" className="chart-spinner" style="top: 0; position: absolute;"
    imgSrc="/assets/img/loading_ios.gif"></app-loading-component>
</div>