<!-- <ng4-loading-spinner></ng4-loading-spinner> -->
<app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner>

<div class="container">

    <!-- User Information -->
    <div style="margin:10px;">
        <div class="user-photo" *ngIf="user_img != 'undefined'" style="background-image:url({{user_img}})"></div>
    </div>



    <div class="user-name" *ngIf=" user_name != 'undefined'" style="font-size:25px; margin: 10px;"> {{user_name}} </div>
    <div class="user-email" *ngIf="user_email != 'undefined'" style="font-size:25px;">{{user_email}}</div>


    <br>
    <hr>
    <br>

    <!-- Set Personal Expense Limit -->
    <label style="font-size: 20px;">Personal Expense Limit:</label>
    <select id="personal-expense-limit" value="{{limit_time}}" (change)="changeTime($event)" style="float:right;">
        <option value="off">OFF</option>
        <option value="daily">DAILY</option>
        <option value="weekly">WEEKLY</option>
        <option value="monthly">MONTHLY</option>
        <option value="yearly">YEARLY</option>
    </select>

    <br>
    <br>

    <!-- Reminder % -->
    <label style="font-size: 20px;">Personal Expense Limit [$]:</label>
    <input type="text" id="fname" name="fname" placeholder="{{limit}}" style="float:right;">

    <br>
    <br>

    <!-- Personal Expense Reminder Slider -->
    <label style="font-size: 20px;">Reminder when Expense Limit reaches [%]:</label>
    <div class="slidecontainer center">
        <mat-slider color="primary" min="1" max="100" step="1" value="80" (change)="changePercent($event.value)" style="width:100%;"></mat-slider>
    </div>

    <!-- Delete Account Button  -->
    <div class="center">
        <button class="delete-button">Delete Account</button>
    </div>
</div>