<!-- <ng4-loading-spinner></ng4-loading-spinner> -->
<app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner>
<br>


<div class="row" style="margin: 14px;">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category" style="margin-bottom: 4px;">Total Spend</p>
                            <p class="card-title">S$ 489

                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i> Update Now
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category" style="margin-bottom: 4px;">Money In</p>
                            <p class="card-title">S$ 856

                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar-o"></i> Last day
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category" style="margin-bottom: 4px;">Money Out</p>
                            <p class="card-title">S$ 1,345
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i> In the last hour
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-send text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category" style="margin-bottom: 4px;">New Message</p>
                            <p class="card-title">+2
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="nc-icon nc-bulb-63"></i> Anusha sent you a message!
                </div>

            </div>
        </div>
    </div>
</div>

<div style="margin: 30px">
    <div class="card ">
        <div class="card-header ">

            <div class="grid-2">
                <div>
                    <h5> Personal Expense Limit</h5>
                </div>

                <div class="card-right">
                    {{spendingTimeline}}
                </div>
            </div>

            <p class="card-category">{{spendingLimit}}% limit reached</p>
        </div>

        <div class="card-body ">
            <mat-progress-bar mode="determinate" value="{{spendingLimit}}" style="margin-bottom: 6px;"></mat-progress-bar>
        </div>

    </div>
</div>

<div class="row" style="margin: 14px;">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Spending Categories</h5>
                <p class="card-category">Your expenses by category</p>
            </div>
            <div class="card-body ">
                <canvas id="chartEmail"></canvas>
            </div>
            <div class="card-footer ">
                <div class="legend">
                    <i class="fa fa-circle text-primary"></i> Food
                    <i class="fa fa-circle text-warning"></i> Shopping
                    <i class="fa fa-circle" style="color: #6bd098"></i> Entertainment
                    <i class="fa fa-circle text-danger"></i> Travel
                    <i class="fa fa-circle text-gray"></i> Other
                </div>
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar"></i> Last expense on 2 January 2021
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">Your Money</h5>
                <p class="card-category">Money In vs Money Out</p>
            </div>
            <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Money In
                    <i class="fa fa-circle text-warning"></i> Money Out
                </div>
                <hr/>
                <div class="card-stats">
                    <i class="fa fa-check"></i> Updated just now
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 14px;">
    <div class="col-md-8">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">IN$IGHTS</h5>
                <p class="card-category">Your spending over the months (in SGD)</p>
            </div>
            <div class="card-body ">
                <canvas id=chartHours width="400" height="160"></canvas>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Latest Transactions</h5>
                <p class="card-category">Your latest personal and shared expenses</p>
            </div>
            <div class="card-body ">
                <app-expense-list></app-expense-list>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>