// logo color icon font etc, variable name, hex colors,
// side bar top bar classes

@import "./variables";

.app-header {
  background-color: $side-bar-bg-color;
}

.app-sidebar {
  background-color: $side-bar-bg-color;
  box-shadow: 2px 0px 5px $shadow-color;
}

.sidebar-item,
.sidebar-sub-menu {
  border-left: 3px solid $side-bar-bg-color;
}

.toggle-btn {
  box-shadow: 0 0 0 1px #1d253100, 0 2px 4px 1px $side-bar-selected-bg-color;
  color: $side-bar-selected-bg-color;
}

.toggle-btn:hover {
  background-color: $side-bar-selected-color;
  color: $side-bar-selected-bg-color;
}

.side-bar-separator {
  border-color: $side-bar-selected-color;
}

.sidebar-item.open-sub-menu {
  .sidebar-item-link,
  .sidebar-item-link {
    background-color: $side-bar-selected-bg-color;
  }

  .sidebar-item-link {
    color: $side-bar-selected-color;
    background-color: $side-bar-selected-bg-color;
  }
}

.sidebar-item.sub-menu-opened,
.sidebar-sub-menu-container.sub-menu-opened {
  border-left: 3px solid $side-bar-selected-color;
}

.sidebar-item-icon {
  color: $side-bar-item-color;
}

.sidebar-sub-item-icon {
  color: $side-bar-item-color;
}

.sub-menu-arrow {
  color: $side-bar-item-color;
}

.sidebar-item-text {
  color: $side-bar-item-color;
}

.sidebar-item:hover,
.sidebar-item.selected,
.sidebar-sub-menu:hover,
.sidebar-sub-menu.selected {
  .sidebar-item-link,
  .sidebar-item-link {
    background-color: $side-bar-selected-bg-color;
  }
  .sidebar-item-text,
  .sidebar-item-icon,
  .sidebar-sub-item-icon {
    color: $side-bar-selected-color;
  }
}

.navbar {
  background-color: $top-bar-bg-color;
  box-shadow: 0px 2px 6px $shadow-color;
  color: $top-bar-item-color;
}

.sidebar-item-text {
  font-family: $side-bar-font-family;
}
