// Side Bar theming variables
$side-bar-bg-color: rgba(255, 255, 255, 0.769);
$side-bar-item-color: #66788A; // #616161 ;
$side-bar-selected-color: white;
$side-bar-selected-bg-color: #0D1577; // #1d2531 ;
$side-bar-font-family: Helvetica,
sans-serif;
$side-bar-width: 240px;
$shadow-color: #66788A;
// Top Bar theming variables
$top-bar-bg-color: white; // #273544 ;
$top-bar-item-color: #0D1577; // #008264 ;