// Side Bar theming variables
$side-bar-bg-color: #008264;
$side-bar-item-color: #fff; // #616161 ;
$side-bar-selected-color: #fff;
$side-bar-selected-bg-color: #00654e; // #1d2531 ;
$side-bar-font-family: Helvetica, sans-serif;
$side-bar-width: 240px;

$shadow-color: #008264;

// Top Bar theming variables
$top-bar-bg-color: white; // #273544 ;
$top-bar-item-color: #008264; // #008264 ;
