<div class="card-size">
    <mat-card>
        <div *ngIf="expense.type=='1'" class='border-red'>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="../../../../../assets/cashtrack-assets/icon-bill.png"> &nbsp; &nbsp;
                </div>
                <mat-card-title style='font-size: 15px;'> {{ expense.name }} &nbsp; &nbsp; <span class="tag"> {{ expense.category.toUpperCase() }} </span></mat-card-title>
                <mat-card-subtitle style='font-size: 10px;'>{{ expense.created_at }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style='font-size: 15px;'>
                <b> You owe Daniel S$ {{ expense.amount }}  </b>
            </mat-card-content>
        </div>
        <div *ngIf="expense.type=='2'" class='border-green'>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="../../../../../assets/cashtrack-assets/icon-bill.png"> &nbsp; &nbsp;
                </div>
                <mat-card-title style='font-size: 15px;'> {{ expense.name }} &nbsp; &nbsp; <span class="tag"> {{ expense.category.toUpperCase() }} </span></mat-card-title>
                <mat-card-subtitle style='font-size: 10px;'>{{ expense.created_at }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style='font-size: 15px;' *ngFor="let payer of expense.payers; index as i">
                <b> Mehul owes you S$ {{ expense.amount }} </b>
            </mat-card-content>
        </div>
    </mat-card>
</div>