<div style="width: fit-content;">
  <h1 *ngIf="data.add" mat-dialog-title> Input Personal Expense</h1>
  <h1 *ngIf="data.update" mat-dialog-title> Update Personal Expense</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(value)]="data.category">
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{cat}}
        </mat-option>
      </mat-select>    
    </mat-form-field>
    <br>
    <mat-form-field>
    <mat-label>S$ Amount</mat-label>
      <input matInput [(ngModel)]="data.amount">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="data.update" mat-button (click)="addExpense()" [mat-dialog-close]="data.amount" cdkFocusInitial> UPDATE </button>
    <button *ngIf="data.add" mat-button (click)="addExpense()" [mat-dialog-close]="data.amount" cdkFocusInitial> ADD </button>
    <button mat-button (click)="onNoClick()"> CANCEL </button>
  </div>


</div>
