<!-- <ng4-loading-spinner></ng4-loading-spinner> -->
<!-- <app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner> -->

<div class="container">
    <div class="grid-2" style="margin-bottom: 40px;">

        <!-- Heading -->
        <div>
            <h1> <b> MY GROUPS </b> </h1>
        </div>

        <!-- Create Group Button -->
        <div>
            <button class="create-group" (click)="createGroup()"> 
                <p style="margin: 0px;"> + Create Group </p>
            </button>
        </div>
    </div>

    <!-- List of Groups -->
    <div *ngFor="let group of groups_list">
        <mat-card>
            <mat-card-header>
                <div>
                    <div style="float:left;">
                        <img src="../../../assets/img/user-avatar.png" alt="" style="height:80px; width: auto;">
                    </div>


                    <div style="margin: 15px; float:left; padding-top: 6px;">
                        <b style="font-size: 24px;"> 
                            {{group.name}}
                        </b>
                        <br>
                        <p style="color: grey;">
                            Group Members: {{group.friends.length}}
                        </p>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-actions align="end">
                <button class="button-style" mat-button (click)="moreInfo(group.group_id)"><mat-icon [ngStyle]="{'color':'grey'}"> info </mat-icon></button>
            </mat-card-actions>
        </mat-card>

        <br>
    </div>

</div>