<div id="container">
    <div class="grid-2" style="margin-bottom: 40px;">

        <!-- Heading -->
        <div>
            <h1> <b> CHAT </b> </h1>
        </div>

        <!-- Create Group Button -->
        <div>
            <button class="new-chat" (click)="newChat()"> 
                <p style="margin: 0px;"> + New Chat </p>
            </button>
        </div>
    </div>


    <aside>

        <!-- Search Bar -->
        <header>
            <input type="text" placeholder="search users">
        </header>

        <!-- List of chats -->
        <ul>
            <div *ngFor="let chat of chat_data">
                <li (click)="changeCurrentFriendID(chat.id)">
                    <img src="../../../assets/img/user-avatar-light.png " alt=" " style="height: 80px; width: auto; vertical-align: middle; ">
                    <div>
                        <h2 style="margin: 0px; ">{{chat.user_2_name}}</h2>
                        <h3>
                            <!-- <span class="status orange "></span> offline -->
                            <span [ngClass]="(chat.status=='online' )? 'status green': 'status orange' "></span> {{chat.status}}
                        </h3>
                    </div>
                </li>
            </div>
        </ul>
    </aside>

    <!-- Chat Window -->
    <main>
        <!-- Chat Header -->
        <header>
            <img src="../../../assets/img/user-avatar.png " alt=" ">
            <div>
                <h2>Chat with</h2>
                <h1> {{chat_data[current_friend_id].user_2_name}} </h1>
            </div>
        </header>

        <!-- Chat Messages -->
        <ul id="chat">
            <div *ngFor="let message of chat_data[current_friend_id].messages ">

                <li [ngClass]="(user_email==message[0])?'me':'you'">
                    <div class="entete">
                        <span [ngClass]="(user_email==message[0] || chat_data[current_friend_id].status =='online')? 'status green': 'status orange' "></span>
                        <h2 style="margin-right: 5px; "> {{message[0]}} </h2>
                        <h3> {{message[2]}} </h3>
                    </div>

                    <div class="message ">
                        {{message[1]}}
                    </div>
                </li>
            </div>
        </ul>

        <!-- Type message -->
        <footer>
            <!-- <textarea placeholder="Type your message " [(ngModel)]="text_message"></textarea> -->
            <input #textbox type="text" placeholder="Type your message here" required>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png " alt=" ">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png " alt=" ">
            <button class="send-message " (click)="newMessage(textbox.value)">Send</button>
        </footer>

    </main>
</div>