<!-- <ng4-loading-spinner></ng4-loading-spinner> -->
<!-- <app-custom-loading-spinner [show]="showLoadingSpinner"></app-custom-loading-spinner> -->

<div class="container">
    <div class="grid-2" style="margin-bottom: 40px;">

        <!-- Heading -->
        <div>
            <h1> <b> MY FRIENDS </b> </h1>
        </div>

        <!-- Add Friends Button -->
        <div>
            <button class="add-friends" (click)="addNewFriends()"> 
                <p style="margin: 0px;"> + Add Friend </p>
            </button>
        </div>
    </div>

    <!-- List of Friends -->
    <div *ngFor="let friend of friends_list">
        <mat-card>
            <mat-card-header>
                <div>
                    <div style="float:left;">
                        <img src="../../../assets/img/user-avatar.png" alt="" style="height:80px; width: auto;">
                    </div>


                    <div style="margin: 15px; float:left; padding-top: 6px;">
                        <b style="font-size: 24px;"> 
                            {{friend.name}}
                        </b>
                        <br>
                        <p style="color: grey;">
                            {{friend.email}}
                        </p>
                    </div>
                </div>

            </mat-card-header>
            <mat-card-actions align="end">
                <button class="button-style" mat-button (click)="moreInfo(friend.email, friend.name)"><mat-icon [ngStyle]="{'color':'grey'}"> info </mat-icon></button>
            </mat-card-actions>
        </mat-card>

        <br>
    </div>

</div>