<mat-card>
    <mat-card-header>
      <div mat-card-avatar>
          <img src="../../../../../assets/img/logo/R.png">
          &nbsp; &nbsp;
      </div>
      <mat-card-title> {{ expense.name }} &nbsp; &nbsp; <span class="tag"> {{ expense.category }} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ expense.created_at }} </mat-card-title>
      <mat-card-title>S$ {{ expense.amount }}</mat-card-title>
    </mat-card-header>
    <div mat-card-image></div>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editExpense()">EDIT</button>
      <button mat-button (click)="deleteExpense()">DELETE</button>
    </mat-card-actions>
  </mat-card>