<mat-card>
  <div style="padding-top: 15px; padding-bottom: 0px;">
    <mat-card-header>
      <div mat-card-avatar>
          <img src="../../../../../assets/img/logo/R.png">
          &nbsp; &nbsp;
      </div>
      <div style="padding-left:5px">
        <mat-card-title> {{ expense.name }} &nbsp; &nbsp; <span class="tag"> {{ expense.category.toUpperCase() }} </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ expense.created_at }} </mat-card-title>
        <mat-card-title>S$ {{ expense.amount }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-actions align="end">
      <button class="button-style" mat-button (click)="editExpense()"> <mat-icon [ngStyle]="{'color':'white'}"> edit </mat-icon> </button>
      <button class="button-style" mat-button (click)="deleteExpense()"><mat-icon [ngStyle]="{'color':'white'}"> delete </mat-icon></button>
    </mat-card-actions>
  </div>
</mat-card>