<div>
    <h1 mat-dialog-title class="title-text"> Alert Activated Status </h1>

    <button mat-icon-button tabindex="-1" (click)="funCloseDialog()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr class="tbl-row">
                    <th class="tbl-heading">
                        <span> Site </span>
                    </th>
                    <th class="tbl-heading">
                        <span> Location </span>
                    </th>
                    <th class="tbl-heading">
                        <span> Alarm Status </span>
                    </th>
                    <th class="tbl-heading">
                        <span> Alarm Started </span>
                    </th>
                    <th class="tbl-heading">
                        <span> Alarm Cleared </span>
                    </th>
                    <th class="tbl-heading">
                        <span> Inactive Reason </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alarm of alarmList">
                    <td> {{ alarm.sitename }} </td>
                    <td> {{ alarm.site_location }} </td>
                    <td> {{ alarm.asset_id }} </td>
                    <td> {{ alarm.alarm_started }} </td>
                    <td> {{ alarm.alarm_cleared }} </td>
                    <td> {{ alarm.inactive_reason }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>