.title-text {
    display: inline-block;
    width: 95%;
    font-family: inherit;
}

.table {
    table-layout: fixed;
    font-size: 10pt;
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    /* border: 1px solid black; */
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    border: 2px solid gray;
}

.tbl-row {
    height: 21px;
}

.tbl-cell {
    overflow: hidden;
    padding: 2px 3px;
    vertical-align: top;
    font-size: 11pt;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(204, 204, 204);
}

.tbl-heading {
    overflow: hidden;
    padding: 20px 8px;
    vertical-align: top;
    font-size: 11pt;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(204, 204, 204);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 0;
    background-color: white;
}

/* .tbl-heading span {
    border-bottom: 2px solid gray;
} */